.main {
   width: 350px;

    height: 705px;
 

  font-family: "Gill Sans", sans-serif;

  box-shadow: 0 0px 4px 0 #00000033, 0 0px 10px 0 rgba(0, 0, 0, 0.19);
}

.header {
  color: white;
  background-color: #6ba613;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 5px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  

  height: 80px;
   
}

.header h4 {
  margin-top: 22px;
  font-family: "Gill Sans", sans-serif;
  font-weight: 530;
  font-style: normal;
  font-size: 26px;
}

.tablealign {
  height: 415px;
  
  border-bottom: 1px solid green;
  overflow-y: scroll;
}

.tablealign ::-webkit-scrollbar {
  display: none;
}

.footer {
  display: flex;
}

/* .table  table th{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    width:80%;
    
  } 

  .table    table td{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    
  } */

.amount {
  margin-top: 50px;
  margin-left: 10px;
}

.amount h3 {
  font-weight: bolder;
  color: black;
  font-size: 19px;
  width: 170px;
}

.amount h1 {
  font-weight: bolder;
  color: rgb(14, 59, 21);
}

.footer {
  display: flex;
}

.pay {
  margin-top: 25px;
  margin-left: 20px;
  
}

.pay h6 {
  width: 100px;
  font-weight: bolder;
  font-size: 15px;
  color: black;
}

.pay img {
 width: 140px;
   height: 145px;
  
    
  border: 7px solid #6ba613;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

.items {
  overflow-x: hidden;
}


/* @media only  all and (max-width: 800px)   {
  .main {
    width:35%;
    height:90%;
  }

  .pay img {
    width: 50%;
    height: 50%;
  }

  .pay {
    margin-top: 25px;
    width: 50%;
    height: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .main {
    width: 45%;
    height: 40%;
  }

  .pay img {
    width: 50%;
    height: 50%;
  }

  .pay {
    margin-top: 25px;
    width: 50%;
    height: 50%;
  }
}

@media only screen and (max-width: 1366px) {
  .main {
    width: 45%;
    height: 45%;
  }

  .header h4 {
    margin-top: 18px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 530;
    font-style: normal;
    font-size: 34px;
  }

  .pay img {
    width: 100%;
    height: 50%;
  }

  .pay {
    margin-left: 20px;
    margin-top: 25px;
    width: 50%;
    height: 50%;
  }

  .amount h3 {
    margin-right: 10px;
    font-size: 19px;
  }

  .amount h1 {
    font-weight: bolder;
    color: rgb(14, 59, 21);
  }
}

@media only screen and (max-width: 1440px)   {
  .main {
    width: 35%;
    min-height: 820px;
  }

  .header {
    color: white;
    background-color: #6ba613;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 0.4;

    height: 80px;
    position: relative;
  }

  .header h4 {
    margin-top: 10px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 530;
    font-style: normal;
    font-size: 40px;
  }

  .tablealign {
    height: 490px;
    max-height: 490px;
    border-bottom: 1px solid green;
    overflow-y: scroll;
  }

  .tablealign ::-webkit-scrollbar {
    display: none;
  }

  .footer {
    display: flex;
  }

  .amount {
    margin-top: 50px;
    margin-left: 10px;
  }

  .amount h3 {
    font-weight: bolder;
    color: black;
    font-size: 28px;
    width: 250px;
  }

  .amount h1 {
    font-weight: bolder;
    color: rgb(14, 59, 21);
  }

  .footer {
    display: flex;
  }

  .pay {
    margin-top: 25px;
    margin-left: 40px;
  }

  .pay h6 {
    width: 150px;
    font-weight: bolder;
    font-size: 20px;
    color: black;
  }

  .pay img {
    min-width: 140px;
    min-height: 145px;
    height: 145px;
    max-height: 145px;
    border: 7px solid #6ba613;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 0.4;
  }

  .items {
    overflow-x: hidden;
  }
  
}




@media only screen and (max-width: 1680px)   {
  .main {
    width: 35%;
    min-height:auto;
  }

  .header {
    color: white;
    background-color: #6ba613;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 0.4;

    height: 80px;
    position: relative;
  }

  .header h4 {
    margin-top: 10px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 530;
    font-style: normal;
    font-size: 40px;
  }

  .tablealign {
    height: 600px;
    max-height: 600px;
    border-bottom: 1px solid green;
    overflow-y: scroll;
  }

  .tablealign ::-webkit-scrollbar {
    display: none;
  }

  .footer {
    display: flex;
  }

  .amount {
    margin-top: 50px;
    margin-left: 10px;
  }

  .amount h3 {
    font-weight: bolder;
    color: black;
    font-size: 28px;
    width: 250px;
  }

  .amount h1 {
    font-weight: bolder;
    color: rgb(14, 59, 21);
  }

  .footer {
    display: flex;
  }

  .pay {
    margin-top: 25px;
    margin-left: 100px;
  }

  .pay h6 {
    width: 150px;
    font-weight: bolder;
    font-size: 20px;
    color: black;
  }

  .pay img {
    min-width: 140px;
    min-height: 145px;
    height: 145px;
    max-height: 145px;
    border: 7px solid #6ba613;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 0.4;
  }

  .items {
    overflow-x: hidden;
  }
}
*/
@media only screen and (max-width: 1920px){
  .main {
    width: 30%;
    height:auto;
  }

  .header {
    color: white;
    background-color: #6ba613;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   

    height: 80px;
     
  }

  .header h4 {
    margin-top: 10px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 530;
    font-style: normal;
    font-size: 40px;
  }

  .tablealign {
    height: 600px;
    
    border-bottom: 1px solid green;
    overflow-y: scroll;
  }

  .tablealign ::-webkit-scrollbar {
    display: none;
  }

  .footer {
    display: flex;
  }

  .amount {
    margin-top: 50px;
    margin-left: 10px;
  }

  .amount h3 {
    font-weight: bolder;
    color: black;
    font-size: 28px;
    width: 250px;
  }

  .amount h1 {
    font-weight: bolder;
    color: rgb(14, 59, 21);
  }

  .footer {
    display: flex;
  }

  .pay {
    margin-top: 25px;
    margin-left: 100px;
  }

  .pay h6 {
    width: 150px;
    font-weight: bolder;
    font-size: 25px;
    color: black;
  }

  .pay img {
     width: 140px;
     height: 145px;
     
      
    border: 7px solid #6ba613;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
  }

  .items {
    overflow-x: hidden;
  }
}  


@media only  screen and (max-width:2560px){
  .main {
    width:30%;
     height:auto;
  }

    .header {
    color: white;
    background-color: #6ba613;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     

    height: 150px;
    
  }

  .header h4 {
    margin-top: 10px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 530;
    font-style: normal;
    font-size: 100px;
  }

  .tablealign {
    height: 600px;
     height: 600px;
    border-bottom: 1px solid green;
    overflow-y: scroll;
  }

  .tablealign ::-webkit-scrollbar {
    display: none;
  }

  .footer {
    display: flex;
  }

  .amount {
    margin-top: 50px;
    margin-left: 10px;
  }

  .amount h3 {
    font-weight: bolder;
    color: black;
    font-size: 40px;
    width: 300px;
  }

  .amount h1 {
    font-weight: bolder;
    color: rgb(14, 59, 21);
  }

  .footer {
    display: flex;
  }

  .pay {
    margin-top: 25px;
    margin-left: 100px;
  }

  .pay h6 {
    width: 200px;
    font-weight: bolder;
    font-size: 30px;
    color: black;
  }

  .pay img {
     width: 250px;
     height: 250px;
     
    border: 7px solid #6ba613;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
  }

  .items {
    overflow-x: hidden;
  } 
}

 