.main {
 width: 350px;

 height: 705px;
 

  font-family: "Gill Sans", sans-serif;

  box-shadow: 0 0px 4px 0 #00000033, 0 0px 10px 0 rgba(0, 0, 0, 0.19);

}

.header {
  color: white;
  background-color: #6ba613;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 5px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  

  height: 80px;
  
}

.header h4 {
  margin-top: 22px;
  font-family: "Gill Sans", sans-serif;
  font-weight: 530;
  font-style: normal;
  font-size: 26px;
}

.tablealign {
  height: 415px;
  
  border-bottom: 1px solid green;
  overflow-y: scroll;
}

.tablealign ::-webkit-scrollbar {
  display: none;
}

.footer {
  display: flex;
}

/* .table  table th{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    width:80%;
    
  } 

  .table    table td{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    
  } */

.amount {
  margin-top: 50px;
  margin-left: 10px;
}

.amount h3 {
  font-weight: bolder;
  color: black;
  font-size: 19px;
  width: 170px;
}

.amount h1 {
  font-weight: bolder;
  color: rgb(14, 59, 21);
}

.footer {
  display: flex;
}

.pay {
  margin-top: 25px;
  margin-left: 20px;
  
}

.pay h6 {
  width: 100px;
  font-weight: bolder;
  font-size: 15px;
  color: black;
}

.pay img {
   width: 140px;
   height: 145px;
  
   
  border: 7px solid #6ba613;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

.items {
  overflow-x: hidden;
}
/*
 
@media only screen   and (max-width: 800px) {
  .main {
    width: 40%;
   
    height:auto;
    
   
     font-family: "Gill Sans", sans-serif;
   
     box-shadow: 0 0px 4px 0 #00000033, 0 0px 10px 0 rgba(0, 0, 0, 0.19);
   }
   
   .header {
     color: white;
     background-color: #6ba613;
     padding-left: 10px;
     padding-top: 8px;
     padding-bottom: 5px;
     box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
   
     height: 60px;
     
   }
   
   .header h4 {
     margin-top: 10px;
     font-family: "Gill Sans", sans-serif;
     font-weight: 530;
     font-style: normal;
     font-size:20px;
   }
   
   .tablealign {
     height: 310px;
     
     border-bottom: 1px solid green;
     overflow-y: scroll;
   }
   
   .tablealign ::-webkit-scrollbar {
     display: none;
   }
   
   .footer {
     display: flex;
   }
   
 
   
   .amount {
     margin-top: 20px;
     margin-left: 10px;
   }
   
   .amount h3 {
     font-weight: bolder;
     color: black;
     font-size: 12px;
     width: 110px;
   }
   
   .amount h1 {
     font-weight: bolder;
     color: rgb(14, 59, 21);
   }
   
   .footer {
     display: flex;
   }
   
   .pay {
     margin-top: 20px;
     margin-left: 10px;
     
   }
   
   .pay h6 {
     width: 80px;
     font-weight: bolder;
     font-size: 12px;
     color: black;
   }
   
   .pay img {
      width: 120px;
      height:auto;
     
      
   }  
   
   .items {
     overflow-x: hidden;
   }
}

@media only screen and (min-width:801px)  and (max-width: 1024px) {
  .main {
    width:30%;
    height:auto;
  }
  .amount h3 {
    margin-right: 10px;
    font-size: 19px;
  }

  .amount h1 {
    font-weight: bolder;
    color: rgb(14, 59, 21);
  }

  .tablealign {
    height:415px;
    
    border-bottom: 1px solid green;
    overflow-y: scroll;
  }

  .tablealign ::-webkit-scrollbar {
    display: none;
  }

 


  
  .footer {
    display: flex;
  }

  .amount {
    margin-top: 30px;
    margin-left: 10px;
  }

  .amount h3 {
    font-weight: bolder;
    color: black;
    font-size: 14px;
    width: 120px;
  }

  .amount h1 {
    font-weight: bolder;
    color: rgb(14, 59, 21);
    
  }

  .footer {
    display: flex;
  }

  .pay {
    margin-top: 30px;
    margin-left: 10px;
  }

  .pay h6 {
    width: 150px;
    font-weight: bolder;
    font-size: 13px;
    color: black;
  }
 
  .pay img {
     width: 150px;
   height:auto;
   
   
     
  }

  .items {
    overflow-x: hidden;
  } 
}

@media only screen and (min-width:1025px)and (max-width: 1366px) {
  .main {
    width: 30%;
     height:auto;
  }

  .header {
    color: white;
    background-color: #6ba613;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 0.4;

    height: 80px;
    position: relative;
  }

  .header h4 {
    margin-top: 10px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 530;
    font-style: normal;
    font-size: 40px;
  }

  .tablealign {
    height: 390px;
    
    border-bottom: 1px solid green;
    overflow-y: scroll;
  }

  .tablealign ::-webkit-scrollbar {
    display: none;
  }

  .footer {
    display: flex;
  }

  .amount {
    margin-top: 30px;
    margin-left: 10px;
  }

  .amount h3 {
    font-weight: bolder;
    color: black;
    font-size: 20px;
    width: 190px;
  }

  .amount h1 {
    font-weight: bolder;
    color: rgb(14, 59, 21);
  }

  .footer {
    display: flex;
  }

  .pay {
    margin-top: 30px;
    margin-left: 10px;
  }

  .pay h6 {
    width: 150px;
    font-weight: bolder;
    font-size: 18px;
    color: black;
  }
.pay {
  margin-left:15px;
  margin-right:15px;
}
  .pay img {
     width: 160px;
   height:auto;
   
   
     
  }

  .items {
    overflow-x: hidden;
  } 
}

@media only screen and (min-width:1367px) and (max-width: 1440px)   {
  .main {
    width: 30%;
      height:auto;
  }

  .header {
    color: white;
    background-color: #6ba613;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 0.4;

    height: 80px;
    position: relative;
  }

  .header h4 {
    margin-top: 10px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 530;
    font-style: normal;
    font-size: 40px;
  }

  .tablealign {
    height: 420px;
    
    border-bottom: 1px solid green;
    overflow-y: scroll;
  }

  .tablealign ::-webkit-scrollbar {
    display: none;
  }

  .footer {
    display: flex;
  }

  .amount {
    margin-top: 50px;
    margin-left: 10px;
  }

  .amount h3 {
    font-weight: bolder;
    color: black;
    font-size: 20px;
    width: 170px;
  }

  .amount h1 {
    font-weight: bolder;
    color: rgb(14, 59, 21);
  }

  .footer {
    display: flex;
  }

  .pay {
    margin-top: 40px;
    margin-left: 25px;
  }

  .pay h6 {
    width: 150px;
    font-weight: bolder;
    font-size: 18px;
    color: black;
  }

  .pay img {
     width: 200px;
   height:auto;
   
   
     
  }

  .items {
    overflow-x: hidden;
  } 
   
  
}  


 
@media only screen and (min-width:1441px) and (max-width: 1680px)   {
  .main {
    width: 30%;
   height:auto;
  }
 
  .tablealign {
    height: 600px;
   
    border-bottom: 1px solid green;
    overflow-y: scroll;
  }

  .tablealign ::-webkit-scrollbar {
    display: none;
  }

  .footer {
    display: flex;
  }

  .amount {
    margin-top: 50px;
    margin-left: 10px;
  }

  .amount h3 {
    font-weight: bolder;
    color: black;
    font-size: 22px;
    width: 200px;
  }

  .amount h1 {
    font-weight: bolder;
    color: rgb(14, 59, 21);
  }

  .footer {
    display: flex;
  }

  .pay {
    margin-top: 40px;
    margin-left: 20px;
  }

  .pay h6 {
    width: 150px;
    font-weight: bolder;
    font-size: 20px;
    color: black;
  }

  .pay img {
   width: 220px;
    height: auto;
    
   
    border: 7px solid #6ba613;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }

  .items {
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 1681px)   and (max-width:1920px){
  .main {
    width: 30%;
    height:auto;
  }

  .tablealign {
    height: 530px;
   
    border-bottom: 1px solid green;
    overflow-y: scroll;
  }
  .tablealign ::-webkit-scrollbar {
    display: none;
  }

  .footer {
    display: flex;
  }

  .amount {
    margin-top: 50px;
    margin-left: 10px;
  }

  .amount h3 {
    font-weight: bolder;
    color: black;
    font-size: 24px;
    width: 210px;
  }

  .amount h1 {
    font-weight: bolder;
    color: rgb(14, 59, 21);
  }

  .footer {
    display: flex;
  }

  .pay {
    margin-top:40px;
    margin-left: 30px;
  }

  .pay h6 {
    width: 200px;
    font-weight: bolder;
    font-size: 25px;
    color: black;
  }

  .pay img {
     width:320px;
   height: auto;
    
     
   
  }

  .items {
    overflow-x: hidden;
  } 
}

@media only screen and (min-width: 1921px)   and (max-width: 2560px){
  .main {
    width: 30%;
    height:auto;
  }

  .header {
    color: white;
    background-color: #6ba613;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   

    height: 100px;
    
  }

  .header h4 {
    margin-top: 15px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 530;
    font-style: normal;
    font-size: 40px;
  }

  .tablealign {
    height: 800px;
     
    border-bottom: 1px solid green;
    overflow-y: scroll;
  }

  .tablealign ::-webkit-scrollbar {
    display: none;
  }

  .footer {
    display: flex;
  }

  .amount {
    margin-top: 60px;
    margin-left: 10px;
  }

  .amount h3 {
    font-weight: bolder;
    color: black;
    font-size: 28px;
    width: 240px;
  }

  .amount h1 {
    font-weight: bolder;
    color: rgb(14, 59, 21);
  }

  .footer {
    display: flex;
  }

  .pay {
    margin-top:50px;
    margin-left: 50px;
  }

  .pay h6 {
    width: 200px;
    font-weight: bolder;
    font-size: 25px;
    color: black;
  }

  .pay img {
     width: 350px;
   height: auto;
    
     
    
  }

  .items {
    overflow-x: hidden;
  }
}

*/

@media only screen   and (max-width:7680px){
  .main {
    width: 30%;
    height:100vh;
  }

  .header {
    color: white;
    background-color: #6ba613;
    padding-left: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   

    height:7vh;
    
  }

  .header h4 {
    margin-top: 1vh;
    font-family: "Gill Sans", sans-serif;
    font-weight: 530;
    font-style: normal;
    font-size:4vh;
  }

  .tablealign {
    height:60vh;
     
    border-bottom: 1px solid green;
    overflow-y: scroll;
  }

  .tablealign ::-webkit-scrollbar {
    display: none;
  }

  .footer {
    display: flex;
  }

  .amount {
    margin-top:4vh;
    margin-left:1vw;
  }

  .amount h3 {
    font-weight: bolder;
    color: black;
    font-size:1vw;
    width:9vw;
  }

  .amount h1 {
    font-weight: bolder;
    color: rgb(14, 59, 21);
    font-size:2vw;
  }

  .footer {
    display: flex;
  }

  .pay {
    margin-top:4vh;
    margin-left:2vw;
  }

  .pay h6 {
    width:20vw;
    font-weight: bolder;
    font-size: 1.3vw;
    color: black;
  }

  .pay img {
     width:15vw;
   height:12vw;
    
     
    
  }

  .items {
    overflow-x: hidden;
  }
}

 
