.uploadimage {
  display: flex;
  align-items: center;
}

.uploadimage section {
  padding: 8px;
  margin-top: 5px;
  font-weight: bolder;
}
.uploadimage input {
  display: none;
}

.uploadimage label {
  background-color: lightgrey;
  border: 1px solid grey;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 3px;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 0px;
}
.uploadimage span {
  width: 230px;
  margin-right: 10px;
  background-color: #6ba613;
  color: white;
  font-size: 16px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 4px;
  overflow: hidden;
}
 

/* .uploadicon {
  margin-top: 95px;
  margin-left:-8px;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
}
.uploadicon svg {
  size: 12px;
   
}
  */

/*
 
@media only screen and (max-width:800px)     {

  .uploadicon {
     margin-top:90px;
    margin-left:-8px;
   
  }
  .uploadicon svg {
    size: 12px;
     
  }  
}
@media only screen  and (min-width:801px) and   (max-width:1024px)     {

  .uploadicon {
     margin-top:90px;
    margin-left:-8px;
   
  }
  .uploadicon svg {
    size: 18px;
     
  }
}

@media only screen and (min-width:1025px) and (max-width: 1366px)     {
  .uploadicon {
    margin-top: 80px;
    margin-left:-8px;
   
  }
  .uploadicon svg {
    size: 18px;
     
  }
}

@media only screen  and  (min-width:1367px) and (max-width:1440px)    {

  .uploadicon {
     
     margin-top:140px;
   margin-left:-8px;
  
 }
  

}

@media only screen and  (min-width:1441px) and (max-width:1680px)    {

  .uploadicon {
     
     margin-top:200px;
   margin-left:-8px;
 position: absolute;
 }
  

}
 

@media   screen  and  (min-width:1681px) and (max-width:1920px)  {

  .uploadicon {
     
     margin-top:180px;
   margin-left:-8px;
  
 }
 .uploadicon svg {
   size: 18px;
    
 }

}
 
@media only screen  and  (min-width:1921px) and (max-width:2560px)  {

  .uploadicon {
     
     margin-top:200px;
   margin-left:-8px;
  
 }
 .uploadicon svg {
   size:80px;
    
 }

}
*/

/* @media only screen  and   (max-width:1366px)  {

  .uploadicon {
      position: absolute;
     
     top:72vh;
     margin-left:0.5vw;
  
 }
 .uploadicon svg {
   size:8vh;
    
 }

}   */

/* @media only screen    and   (max-width:7680px)  {


  .uploadicon {

    
         margin-top:1vh;  
      
     margin-left: 1vw;
  
 }
 .uploadicon svg {
  size:3vh;
    
 }

.bottomline{
  
  border-top: 1px solid  rgb(231, 226, 226) ;
  width:66.5vw;
  height:0;
  margin-top:17vh;
  z-index:4;
  box-shadow: -0.4vw -0vh 0.5vh 0.1vh rgb(231, 226, 226)  ;
}

}
 
  */

@media only screen and (max-width: 7680px) {
  .uploadicon {
    margin-top: 1vh;
    /* top:-80px; */
    margin-left: 1vw;
  }
  .uploadicon svg {
    size: 3vh;
  }

  .bottomline {
    border-top: 1px solid rgb(231, 226, 226);
    width: 66.5vw;
    height: 0;
    margin-top: 14vh;
    z-index: 4;
    box-shadow: -0.4vw -0vh 0.5vh 0.1vh rgb(231, 226, 226);
  }

 


  .settingbutton button:hover::before{
     background-color:whitesmoke;
     border: 1px solid gainsboro;
     padding:5px;
    content:  'Setting';
    position:absolute;
    margin-top:-6vh;
  }
  
  .uploadbutton button:hover::before{
    background-color:whitesmoke;
    border: 1px solid gainsboro;
    padding:5px;
   content:  'Upload';
   position:absolute;
   margin-top:-6vh;
 }
 
 .logoutbutton button:hover::before{
  background-color:whitesmoke;
  border: 1px solid gainsboro;
  padding:5px;
 content:  'Logout';
 position:absolute;
 margin-top:-6vh;
}
}
