.uploadimage {
  height: 6vw;
  width:49vw;
  margin:1vw;
  display: flex;
  align-items: center;
  border: 0.1vw solid whitesmoke;
  box-shadow:0.1vw 0.1vw  0.5vw 0  rgba(0.2,0, 0.2, 0.19) ;
  border-radius:0.3vw;
  
}

.uploadimage section {
  padding:0.8vw;
  margin-top: 0.5vw;
  font-size: 1.6vw;
  font-weight: bolder;
  width:11vw;
}
.uploadimage input {
  display: none;
}

.uploadimage label {
  background-color: lightgrey;
  border: 0.1vw solid grey;
  border-top-left-radius:0.4vw;
  border-bottom-left-radius: 0.4vw;
  padding: 0.3vw;
  font-size: 1.6vw;
  margin-left: 2vw;
  margin-right: 0;
  width:12vw;
}
.uploadimage span {
  width: 23vw;
  margin-right: 1vw;
  background-color: #6ba613;
  color: white;
  font-size: 1.6vw;
  border-top-right-radius: 0.4vw;
  border-bottom-right-radius: 0.4vw;
  padding: 0.4vw;
  overflow: hidden;
}
 .uploadimage svg{
  font-size: 3vw;
 }

/* .uploadicon {
  margin-top: 95px;
  margin-left:-8px;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
}
.uploadicon svg {
  size: 12px;
   
}
  */

/*
 
@media only screen and (max-width:800px)     {

  .uploadicon {
     margin-top:90px;
    margin-left:-8px;
   
  }
  .uploadicon svg {
    size: 12px;
     
  }  
}
@media only screen  and (min-width:801px) and   (max-width:1024px)     {

  .uploadicon {
     margin-top:90px;
    margin-left:-8px;
   
  }
  .uploadicon svg {
    size: 18px;
     
  }
}

@media only screen and (min-width:1025px) and (max-width: 1366px)     {
  .uploadicon {
    margin-top: 80px;
    margin-left:-8px;
   
  }
  .uploadicon svg {
    size: 18px;
     
  }
}

@media only screen  and  (min-width:1367px) and (max-width:1440px)    {

  .uploadicon {
     
     margin-top:140px;
   margin-left:-8px;
  
 }
  

}

@media only screen and  (min-width:1441px) and (max-width:1680px)    {

  .uploadicon {
     
     margin-top:200px;
   margin-left:-8px;
 position: absolute;
 }
  

}
 

@media   screen  and  (min-width:1681px) and (max-width:1920px)  {

  .uploadicon {
     
     margin-top:180px;
   margin-left:-8px;
  
 }
 .uploadicon svg {
   size: 18px;
    
 }

}
 
@media only screen  and  (min-width:1921px) and (max-width:2560px)  {

  .uploadicon {
     
     margin-top:200px;
   margin-left:-8px;
  
 }
 .uploadicon svg {
   size:80px;
    
 }

}
*/

/* @media only screen  and   (max-width:1366px)  {

  .uploadicon {
      position: absolute;
     
     top:72vh;
     margin-left:0.5vw;
  
 }
 .uploadicon svg {
   size:8vh;
    
 }

}   */

/* @media only screen    and   (max-width:7680px)  {


  .uploadicon {

    
         margin-top:1vh;  
      
     margin-left: 1vw;
  
 }
 .uploadicon svg {
  size:3vh;
    
 }

.bottomline{
  
  border-top: 1px solid  rgb(231, 226, 226) ;
  width:66.5vw;
  height:0;
  margin-top:17vh;
  z-index:4;
  box-shadow: -0.4vw -0vh 0.5vh 0.1vh rgb(231, 226, 226)  ;
}

}
 
  */

/* @media only screen and (max-width: 7680px) { */
  .uploadicon {
    margin-top: 1vh;
    /* top:-80px; */
    margin-left: 1vw;
  }
  .uploadicon svg {
    font-size: 2.5vw;
    margin-right: 1vw;
  }

  .bottomline {
    border-top: 0.1vw solid rgb(231, 226, 226);
    width: 66.5vw;
    height: 0;
    margin-top: 14vh;
    z-index: 4;
    box-shadow: -0.4vw -0vh 0.5vh 0.1vh rgb(231, 226, 226);
  }

 


  .settingbutton button:hover::before{
     background-color:whitesmoke;
     border: 0.1vw solid gainsboro;
     padding:0.4vw;
     font-size: 1vw;
    content:  'Setting';
    position:absolute;
    margin-top:-6vh;
  }
  
  /* .settingbutton button svg{
    size:2vw;
  } */
  .uploadbutton button:hover::before{
    background-color:whitesmoke;
    border: 0.1vw solid gainsboro;
    padding:0.5vw;
   content:  'Upload';
   position:absolute;
   margin-top:-6vh;
   font-size: 1vw;
 }
 
 .logoutbutton button:hover::before{
  background-color:whitesmoke;
  border: 0.1vw solid gainsboro;
  padding:0.4vw;
 content:  'Logout';
 position:absolute;
 margin-top:-6vh;
 font-size: 1vw;
}
/* } */
