.loginmain {
  width: 55vw;
  height: 30vw;
  border: 0.2vw solid rgb(219, 217, 217);
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .login{
    display: flex;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

.login h2 {
  font-size: 3vw;

}
.formoutline {
  width: 51vw;
}
.form input {
  padding: 0.8vw;
  /* color: rgb(179, 176, 176); */
  color: black;
  border-radius: 0.6vw;
  border: 0.1vw solid #dcd8d8e8;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  background-color: #f4f4f4e8;
  font-size: 1.5vw;
  width: 100%;
  height:4vw;
  min-width: 10vw;
}

.form button {
  margin-left: 41.5vw;
  margin-top: 1.5vw;
  font-size:1.5vw;
  border-radius:0.5vw;
  padding: 0.8vw;
}

/* ************************popup */

/* .top{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
     position:absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
} */
.popup {
  border: 0.2vw solid rgb(219, 217, 217);
  display: flex;

  align-items: center;
  justify-content: space-around;

  border-radius: 1vw;
  line-height: 0.8;
  width: 50vw;
  height: 9vw;
}
.popup p {
  padding-left: 1vw;
  margin-left: 1vw;
  margin-top: 1.2vw;
}
.popup button {
  margin-left: 3vw;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: -3vw;
}

.input input {
  padding: 0.5vw;

  color: black;
  border-radius: 0.6vw;
  border: 0.1vw solid #dcd8d8e8;

  background-color: #f4f4f4e8;

  width: 100%;
  min-width: 10vw;
}
